<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" </head>


</head>


<body>
    <div class="main-content">

        {{>header}}
        {{errorMessage}}
        {{>footer}}

    </div>


</body>

</html>