<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" </head>


</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{title}}</p>

    </div>
    {{>footer}}


</body>

</html>